@model Course

@{
    ViewData["Title"] = "Ders Detayı";
}

<h2>@Model.Title</h2>
<p><strong>Kredi:</strong> @Model.Credits</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet felis at velit consequat, ac pretium purus elementum. Ut et ligula congue libero venenatis gravida id pellentesque nulla. Etiam eget dignissim nulla. Pellentesque aliquam id arcu id eleifend. Praesent facilisis id neque id feugiat. Fusce nec nibh at nulla iaculis volutpat a sed risus. Praesent a mi et sem lacinia porttitor. Sed et quam ac justo molestie finibus et in lorem. Mauris consequat justo augue, sit amet egestas lacus ullamcorper ut. Phasellus molestie, risus eu malesuada sollicitudin, sem elit pellentesque ipsum, vitae posuere sapien turpis non risus.</p>
<a class="btn btn-secondary" href="/Courses">← Geri</a>
<!--Dersler bölümünde detaya tıklanınca gelen sayfa ders açıklaması ve kredisi-->